#![enable(implicit_some, unwrap_newtypes)]
(
    title: "Opalite",
    window_dimensions: (1024, 768),
    shaders: {
        "main": Builtin("resources/shaders/main"),
    },
    map_dimensions: (50, 50, 10),
)
