#![enable(implicit_some, unwrap_newtypes)]
(
    title: "Example",
    fonts: [
        "fonts/playfair/PlayfairDisplay-Regular.ttf",
    ],
    resources: [
//        "resources.zip",
// uses the base resources folder
        "../../opalite/resources",
    ],
    font_resolution: 2048,
)
