#![enable(implicit_some, unwrap_newtypes)]
(
    title: "Example",
    fonts: [
        "fonts/playfair/PlayfairDisplay-Regular.ttf",
    ],
    resources: [
//        "resources.zip",
// uses the base resources folder
        "../../opalite/resources",
// uses the Kronos gltf examples repo, outside of this repo
        "../../../glTF-Sample-Models/2.0",
    ],
    font_resolution: 2048,
)
